html, body{
  height: 100%;
  width: 100%;
}


.content{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border{
  width: 50%;
  height: 75%;
  padding: 50px;
  background-color: #ffffff;
  font:  Raleway, sans-serif;
  border-style: solid;
  border-color: #47c9af;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border2{
  width: 25%;
  height: 25%;
  padding: 50px;
  background-color: #ffffff;
  font:  Raleway, sans-serif;
  border-style: solid;
  border-color: #47c9af;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  width: 100%;
  display: flex;
  margin: 10px;
  flex: 1 0 auto;
}

.label{
  flex: 1 0 auto;
  text-align: center;
  vertical-align: middle;
}

.input{
  flex: 4 0 auto;
  border: 2px solid black;
  border-radius: 40px;
}

.button{
  width: 150px;
  height: 50px;
  border: 2px solid black;
  border-radius: 40px;
}

.button:hover {
  border: 4px solid black;
}

.table{
  width: 50%;
  border: 2px solid #47c9af;
  border-radius: 20px;
  padding: 20px;
}

.header{
  border-bottom: 1px solid #47c9af;
  font-weight: bold;
}

.cell{
  padding: 10px;
  word-wrap: break-word;
}

.cell-non-right{
  border-right: 1px solid #47c9af;
}

.cell-header{
  border-bottom: 1px solid #47c9af;
}
